.Homecontainer button{
    background-color: #51c780;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: right;
    margin: 50px;
}

.Homecontainer img{
    height: 100px;
    width: 100;
}